node_modules
*.log
*.aes
cypress/screenshots
cypress/videos
cypress/logs
cypress/fixtures
cypress/results
cypress/cucumber-json
/reports/cucumber-htmlreport.html/features
/reports/cucumber-htmlreport.html/assets
